# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Dotnet publish output
publish/

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Secret settings
appsettings.Development.json